body {
    background: greenyellow;
}

div.pictures {
  /*  display: flex;*/
  /*!*  flex-flow: wrap;*!*/
  /*!*width: 150px;*!*/
  /*!*height: 300px;*!*/
  /*  flex-wrap: wrap;*/
    display: inline-grid;
  grid-template-columns: repeat(4, [col-start] 1fr);
  grid-gap: 10px;
    margin-left: 17rem;

}